/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ffd74f;
  --secondary-color: #f65129;
  --section-bg-color: #f9f9f9;
  --site-footer-bg-color: #36363e;
  --custom-btn-bg-color: #00a05d;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;

  --twitter-color: #1da1f2;
  --facebook-color: #1877f2;
  --instagram-color: #c13584;
  --pinterest-color: #e60023;
  --whatsapp-color: #128c7e;

  --body-font-family: "League Spartan", sans-serif;

  --h1-font-size: 62px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --btn-font-size: 16px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
  overflow-x: hidden;
  /* padding-top: 70px; */
}

/*---------------------------------------
     TYPOGRAPHY               
   -----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-light);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-light);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@media (max-width: 1200px) div ,section , footer,.container {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 992px)  div ,section , footer,.container  { 
  top: 0;
}
a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.tooplate-red {
  color: var(--secondary-color);
}

.tooplate-green {
  color: var(--custom-btn-bg-color);
}

/*---------------------------------------
     SECTION               
   -----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background: var(--section-bg-color);
}

.section-small-title {
  color: var(--custom-btn-bg-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-semibold);
  display: block;
}

.section-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.custom-block {
  background: var(--primary-color);
  border-top: 20px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 50px;
}

.featured-custom-block {
  background: var(--border-color);
}

.shop-detail-custom-block {
  background: transparent;
  border-top: 0;
  border-radius: 0;
  padding: 30px;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 0;
}

.page-link {
  border-color: var(--border-color);
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  font-size: var(--copyright-font-size);
  padding: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.page-item.active .page-link,
.page-link:hover {
  background: var(--secondary-color);
  border-color: transparent;
  color: var(--white-color);
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: 0;
  border-radius: var(--border-radius-large);
}

.page-item:not(:first-child) .page-link {
  margin-left: 5px;
}

/*---------------------------------------
     CUSTOM LINK               
   -----------------------------------------*/
.custom-link {
  color: var(--p-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-bottom: 2px;
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}

.custom-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.custom-link:hover {
  color: var(--primary-color);
}

.custom-link:hover::after {
  background: var(--custom-btn-bg-color);
}

/*---------------------------------------
     CUSTOM BADGE               
   -----------------------------------------*/
.custom-badge {
  background: var(--white-color);
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: var(--secondary-color);
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-semibold);
  padding: 10px 10px 6px 10px;
}

.custom-badge::before {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid var(--white-color);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: -7px;
  right: 0;
  left: 0;
}

/*---------------------------------------
     CUSTOM BUTTON               
   -----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  padding: 15px 20px;
}

.custom-btn:hover {
  background: transparent;
  border-color: var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--white-color);
}

.custom-border-btn:hover {
  background: var(--white-color);
  border-color: var(--white-color);
  color: var(--secondary-color);
}

/*---------------------------------------
     NAVIGATION              
   -----------------------------------------*/
.img-2 {
  position: absolute;
  width: 80px;
  margin-left: -250px;
  margin-top: -40px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

.navbar-brand,
.navbar-brand:hover {
  /* color: var(--primary-color); */
  color: #ba68c8;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 20px 35px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--p-bg-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  /* background: var(--primary-color); */
  background-color: rgba(186, 104, 200, 1);
  color: var(--white-color);
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  padding: 0;
}

.dropdown-item {
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
  color: var(--p-bg-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu li:last-child .dropdown-item {
  border-bottom: 0;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/* end nav */

/*  */
/* Position the image container (needed to position the left and right arrows) */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: 80px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* end header */
.div-sec-1 {
  margin-top: 50px;
  margin-left: -400px;
}

.h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  margin-left: 686px;
  color: #283593;
}

.p-1 {
  position: absolute;
  margin-top: 100px;
  margin-left: 430px;
  font-size: 25px;
  color: black;
}

.p-2 {
  position: absolute;
  margin-top: 400px;
  color: #000000;
  margin-left: 600px;
  font-size: 25px;
}

/* end-sec-1 */
/* sec-2 */

.sec-2 {
  margin-top: 500px;
}

.h2 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 30px;
  color: #283593;
}

video {
  border-radius: 15px;
  width: 500px;
  height: 400px;
  -webkit-box-shadow: -1px 15px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 15px 5px -4px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  margin-left: 900px;
}

.p-2 {
  margin-top: -300px;
  margin-left: 106px;
}

/* end-sec-2 */

.div-sec-3 {
  margin-top: 150px;
}

.div-1 {
  position: absolute;
  margin-left: 800px;
  margin-top: -350px;
}

.h3 {
  font-size: 60px;
  font-weight: bold;
  color: #283593;
  margin-left: 80px;
}

.p-4 {
  position: absolute;
  font-size: 30px;
  margin-left: 880px;
  margin-top: 170px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 600px;
  border-radius: 15px;
  margin-top: 50px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 600px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/*  */
.container-2 {
  margin-left: 750px;
  margin-top: 50px;
}

.image-2 {
  display: block;
  width: 600px;
  border-radius: 15px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay-2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 600px;
  transition: 0.5s ease;
  border-radius: 15px;
  opacity: 0;
  color: white;
  font-size: 20px;
  margin-top: 900px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container-2:hover .overlay-2 {
  opacity: 1;
}

.div-2 {
  position: absolute;
  margin-top: 100px;
}
.h4 {
  font-size: 60px;
  font-weight: bold;
  color: #283593;
  margin-left: 80px;
}
.p-5 {
  font-size: 25px;
  margin-top: -0px;
}

/* end */
/* div-4 */
.container-3 {
  position: relative;
  width: 50%;
  margin-left: 100px;
}
.image-3 {
  display: block;
  width: 500px;
  height: auto;
  border-radius: 15px;
}
.div-4 {
  margin-left: 100px;
  margin-top: 100px;
}

.over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 500px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  border-radius: 15px;
}

.container-3:hover .over {
  opacity: 1;
}

.text {
  color: white;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* end-div-4 */
.div-5 {
  margin-left: -10px;
  margin-top: 170px;
}
.h7 {
  margin-left: 160px;
  color: #283593;
}

.img-6 {
  cursor: zoom-in;
  object-fit: cover;
  height: 450px;
  width: 350px;
  margin-top: 100px;
  margin-left: 150px;
  border-radius: 15px;
  transition: transform 200ms ease-in;
}

.img-6:hover {
  transform: scale(1.25);
}
.img-7 {
  cursor: zoom-in;
  object-fit: cover;
  height: 450px;
  width: 350px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 15px;
  transition: transform 200ms ease-in;
}

.img-7:hover {
  transform: scale(1.25);
}
.img-8 {
  cursor: zoom-in;
  object-fit: cover;
  width: 350px;
  height: 450px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 15px;
  transition: transform 200ms ease-in;
}

.img-8:hover {
  transform: scale(1.25);
}
/*  */
/* footer */

footer {
  background-color: #283593;
  color: white;
  height: 300px;
  margin-top: 100px;
  padding: 25px 0px;
  text-align: center;

  transition: all 0.3s;
}

.h8 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-left: 900px;
  margin-top: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  padding: 0 1rem;
  color: #fff;
  width: 300px;
  min-height: 50px;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
  margin-left: 1030px;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}

.icons {
  position: absolute;
  font-size: 30px;
  margin-left: 1125px;
  margin-top: 20px;
}

.fa-whatsapp {
  position: absolute;
  margin-left: 100px;
  margin-top: 5px;
}

.fa-whatsapp:hover {
  transform: scale(1.25);
}

.fa-linkedin {
  position: absolute;
  margin-left: 55px;
  margin-top: 5px;
}
.fa-linkedin:hover {
  transform: scale(1.25);
}

.fa-instagram {
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}
.fa-instagram:hover {
  transform: scale(1.25);
}

.fa-facebook:hover {
  transform: scale(1.25);
}

.div-heading {
  margin-top: -120px;
}
.h9 {
  color: white;
}
.p-7:hover {
  color: white;
}
.p-8:hover {
  color: white;
}
.p-9:hover {
  color: white;
}
.p-10:hover {
  color: white;
}

.h10 {
  margin-left: -1100px;
  margin-top: -240px;
  color: white;
}
.p-11 {
  margin-left: -1120px;
  margin-top: px;
}
.p-11:hover {
  color: white;
}
.p-12 {
  margin-left: -1120px;
  margin-top: 10px;
}
.p-12:hover {
  color: white;
}
.p-13 {
  margin-left: -1120px;
  margin-top: 20px;
}
.p-13:hover {
  color: white;
}
.p-14 {
  margin-left: -1120px;
  margin-top: 20px;
}
.p-14:hover {
  color: white;
}


/*  */

/* Reset some styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the viewport to be responsive */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

section {
  flex: 1 1 100%;
  padding: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  main {
    flex-wrap: nowrap;
  }

  section {
    flex: 1 1 50%;
  }
}

@media (min-width: 960px) {
  section {
    flex: 1 1 33.333%;
  }
}

@media (min-width: 1280px) {
  section {
    flex: 1 1 25%;
  }
}

